body{background-color: rgb(10, 0, 0);}
h1{font-size: 50px; color:rgb(214, 225, 61); text-align: center;}
h3{font-size: 40px; color: rgb(52, 218, 40); text-align: center;}
p{font-size: 25px; color:rgb(95, 23, 81); background-color: rgb(122, 146, 255);  text-align: center;}